@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CCHAMORRO</h1>
    <p style="text-align:justify">Este desarrollo Web implementa ASP.NET MVC con Razor. Consume un servicio WCF el cual presta 3 métodos: </p>
    <ol style="text-align:justify">
        <li>GetCustomersByCountry: Para consultar clientes por nombre de país.</li>
        <li>GetOrdersByCustomerId: Para consultar el detalle de órdenes por cliente seleccionado.</li>
        <li>PutTracking: Para registrar en bitácora las consultas de información.</li>
    </ol>
    <p style="text-align:justify">Para una adecuada presentación de datos, se implementó KendoGrid (Telerik), además de BootstrapUI y reglas de AngularJS.</p>
    <br />
    <p style="text-align:justify">Debido a limitante de tiempo, se envía únicamente solución de Visual Studio en enlace de Github. No obstante, en caso de ser necesario, podré elaborar documento explicativo de la solución desarrollada.</p>
</div>
